{% extends 'partials/base.html' %}
{% load static %}
{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- GOOGGLE APIS -->
    <!-- <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
     -->
    <!-- GOOGLE FONT -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- STYLESHEET -->
    <link rel="stylesheet" href="style.css" />
    <title>SignUp page</title>
  </head>
  <body> {% endcomment %}
   
    {% block content %}
    {% comment %} <header></header> {% endcomment %}
    <main>
        
       <section class="sign-in-section">
        <!-- header link -->
        <div class="container">
          <a href="#" class="have-account">Have an account?<span>sign in</span></a>
            <div class="sign-in">
                <div class="header-text">
                <h3>Create an Account</h3>
                <a>Don't have an account? <span>create one</span></a>
            </div>
            <!-- google button  -->
            <div class="google-button">
                <img src="{% static 'icons8-google-48.png' %}" alt="">
                <a href="#">Sign up with google</a>
            </div>
            <div class="alternative">
              <p class="pseudo">or sign up with </p>
            </div>
            <!-- email form -->
            <form action="" class="Email-form">
              {% comment %} <label for="">Name of school<input type="text" placeholder="Bethel High School" size="50" required></label>
              <label for="email">Email Address
                <input type="email" placeholder="emailaddress .com" size="50" required>
                </label>
                <label for="">CAC Registration Number<input type="text" placeholder="*** **** **** ****" size="50" required></label>
                <label for="password">Password
                <input type="password" placeholder="***********" class="pass" size="50" required>
                </label> {% endcomment %}
                {% csrf_token %}
                {{form.as_p}}
                
             <button class="btn">Create an Account</button>
            </div>
            </form>
            <img src="{% static 'undraw_my_password_re_ydq7.svg' %}" alt="undraw" class="svg">
        </div>
       </section> 
    </main>
{% endblock content %}
  {% comment %} </body>
</html> {% endcomment %}