<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget_password</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="body">
    <div class="password">
    <header>
             <h1>Forgot your password?<br></h1>
            <p>Input your mail and an authenthication will be sent shortly</p>
    </header>
      
    
            <input type="email" name="email" placeholder="email@address.com" class="email"><br>
          <button>
              Send authenthication
          </button>
           
    

    
          <h4>back to<a href="sign in" class="sign">Sign in</a></h4>
    </div>


        <img src="undraw_forgot_password_re_hxwm.svg" alt="forget" class="forget">
    </div>
</div>
</body>
</html>