body {
    width: 100%;
}
header {
    padding: 35px 30px 24px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo_box {
    height: 32px;
}
.logo_box img {
    height: 100%;
}
.desktop_menu {
    height: 32px;
    display: flex;
    flex-wrap: wrap;
}
.desktop_nav_links {
    height: 100%;
    margin-right: 2rem;
}
.desktop_nav_links a {
    margin-right: 1rem;
    padding: 0.5rem 0.3rem;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #000;
}
.desktop_nav_links a:hover {
    color: #2B7FAF;
}
.desktop_nav_buttons {
    height: 100%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.desktop_nav_buttons .btn_navbar {
    padding: 14px 17px;
    text-decoration: none;
    display: block;   
}
.sign-in-btn {
    margin-right: 1rem;
    color: #2B7FAF;;
}
.sign-up-btn {
    background-color: #2B7FAF;
    color: #fff;
    border-radius: 8px;
}

/*sidebar harmburger menu*/
.sidebar_hamburger_menu {
    width: 30px;
    height: 20px;
    margin-right: 15px;
    right: 5px;
    top: 20px;
    cursor: pointer;
    display: none;
}
.sidebar_hamburger_menu span {
    width: 30px;
    height: 5px;
    margin-bottom: 3px;
    background-color: #121212;
    display: block;
    opacity: .5;
}
.mobile-menu {
    width: 300px;
    padding: 1rem auto auto 2rem;
    background: linear-gradient(113.99deg, rgba(255, 255, 255, 0.6) 2.94%, rgba(255, 255, 255, 0.5) 89.98%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    z-index: 200;
    position: absolute;
    right: -380px;
    top: 106px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: none;
}
.mobile-menu a {
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #000;
}
.mobile-menu a:not(:first-child) {
    margin-top: 1rem;
}
.mobile-menu .nav_buttons {
    margin-top: 3rem;
    align-self: center;
}
.mobile-menu .sign-in-btn {
    color: #2B7FAF;
}


/*Media query*/
@media screen and (max-width: 768px) {
    .desktop_menu {
        display: none;
    }
    .sidebar_hamburger_menu {
        display: block;
    }
    .mobile-menu {
        display: flex;
        
    }
}