*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "montserrat",sans-serif;
    /* overflow-x: hidden; */
    
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    max-width: 100%;
    /* height: 300px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

    .con-1 {
        background-image: url(backg-img.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 220px;
        padding-top: 15px;
        padding-left: 20px;
    }

    .paragraph-1 {
        font-size: 19px;
    }

    #top-btn {
        width: 80px;
        height: 40px;
        background-color: #00659F;
        border-radius: 5px;
        border-style: none;
        color: white;
    }

    .con-2 h4 {
        text-align: center;
        font-size: 24px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .con-2 h4 span {
        color: #00659f;
    }
    /* .con-1 p{
        background-color: #00659F;
        width: 100px;
    } */

    .box {
        background-color: #00659F;
        height: 220px;
        width: 300px;
        margin-bottom: 20px;
        border-radius: 15px;
        padding: 20px;
        color: white;
        text-align: center;
    }

    .top-box {
        background-color: #fbfbfb;
        color: #17191c;
        box-shadow: 1px 2px 10px;
    }

    .boxes {
        display: flex;
        flex-direction:column;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        /* height: 300px; */

        
    }

    /* #testing {
        background-color: pink;
        display: inline-block;
    } */

    .con-2{
        height: 600px;
        margin-bottom: 180px;
    }


    /* #para-1 {
        font-size: 20px;
        font-weight: 600;
    } */

    .con-3 {
        background-image: url(bg-img2.svg);
        height: 531px;
        margin-bottom: 50px;
        margin-top: -20px;
    }

    .con-3 h4 {
        text-align: center;
        font-size:30px ;
        padding-top: 50px;
        padding-bottom: 20px;
        color: #00659f;
        
    }

    .con-3-flex-1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        margin-left: 10px;
        font-size: 14px;
    }

    .paragraph-2 {
        font-size: 14px;
    }

    .img-one {
        padding-right: 10px;
    }

    .con-3-flex-2 {
        display: flex;
        justify-content: space-between;
    }

    #para-2, #para-3 {
        font-size: 14px;
        color: #575757;
    }

    #para-3 {
        margin-right: 10px;
    }

    .con-4-flex {
        display: flex;
        flex-direction:column;
        /* flex-wrap: wrap; */
        justify-content: space-between;
        align-items: center;
        /* height: 300px; */
        font-size: 29px;

        
    }

    .img-two {
        padding-left: 10px;
    }

    /* .con-4 h4 {
        margin-top: 30px;
        margin-bottom: 25px;
        text-align: center;
        color: #cf3b3d;
        font-size: 24px;
    } */

    .con-4 {
        margin-top: 30px;
    }

    .con-4-para {
        color: #cf3b3d;
    }

    #span1 {
        color: #cf3b3d;
    }

    #of {
        font-size: 24px;
        color: black;
    }

    .con-5 {
        background-image: url(new-hero.svg);
        background-repeat: no-repeat;
        height: 230px;
        margin-left: 30px;
        padding-top: 45px;
        padding-left: 110px;
        margin-bottom: 0px;
        color: white;
    }

    #btn-1 {
        background-color: #cf3b3d;
        height: 12%;
        min-width: 28%;
        border-radius: 5px;
        color: white;
        margin-bottom: 50px;
        border-style: none;
    }

    .con-5 p {
        font-size: 20px;
        padding-left: 10px;
        color: #17191c;
    }
    
    #inp {
        height: 24px;
        border-radius: 4px;
        margin-left:10px ;
    }

    .con-6 {
        background-color: #00659F;
        height: 250px;
        padding-top: 20px;
        color: white;
    }
    .list{
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        
    }

    .unordered-list {
        font-size: 14px;
    }

    li {
        list-style: none;
    }

    .con-6 img {
        padding-left: 20px;
    }

    .footer-class{
        background-color: #cf3b3d;
        width: 100%;
        height: 8vh;
        text-align: center;
        color: white;
        padding-top: 10px;
        font-size: 24px;
        
    }
  

header {
    padding: 35px 30px 24px 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo_box {
    height: 32px;
}
.logo_box img {
    height: 100%;
}
.desktop_menu {
    height: 32px;
    display: flex;
    flex-wrap: wrap;
}
.desktop_nav_links {
    height: 100%;
    margin-right: 2rem;
}
.desktop_nav_links a {
    margin-right: 1rem;
    padding: 0.5rem 0.3rem;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #000;
}
.desktop_nav_links a:hover {
    color: #2B7FAF;
}
.desktop_nav_buttons {
    height: 100%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.desktop_nav_buttons .btn_navbar {
    padding: 14px 17px;
    text-decoration: none;
    display: block;   
}
.sign-in-btn {
    margin-right: 1rem;
    color: #2B7FAF;;
}
.sign-up-btn {
    background-color: #2B7FAF;
    color: #fff;
    border-radius: 8px;
}

/*sidebar harmburger menu*/
.sidebar_hamburger_menu {
    width: 30px;
    height: 20px;
    margin-right: 15px;
    right: 5px;
    top: 20px;
    cursor: pointer;
    display: none;
}
.sidebar_hamburger_menu span {
    width: 30px;
    height: 5px;
    margin-bottom: 3px;
    background-color: #121212;
    display: block;
    opacity: .5;
}
.mobile-menu {
    width: 300px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: linear-gradient(113.99deg, rgba(255, 255, 255, 0.6) 2.94%, rgba(255, 255, 255, 0.5) 89.98%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    z-index: 200;
    position: absolute;
    right: -380px;
    top: 106px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: none;
}
.mobile-menu a {
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 24px;
    color: #000;
}
.mobile-menu a:not(:first-child) {
    margin-top: 1rem;
}
.mobile-menu .nav_buttons {
    margin-top: 3rem;
    align-self: center;
}
.mobile-menu .sign-in-btn {
    color: #2B7FAF;
}
.mobile-menu .sign-up-btn {
    color: #fff;
}


/*Media query*/ 
@media screen and (max-width: 768px) {
    .desktop_menu {
        display: none;
    }
    .sidebar_hamburger_menu {
        display: block;
    }
    .mobile-menu {
        display: flex;
        
    }
}

@media screen and (min-width: 992px) {
    .con-1 {
        background-image: url(backg-img.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 550px;
        padding-top: 70px;
        padding-left: 70px;
        
    }

    #top-btn {
        width: 150px;
        height: 50px;
        background-color: #00659F;
        border-radius: 5px;
        border-style: none;
        color: white;
        font-size: 1.4rem;
    }

    /* .page {
        width: 100%;
        margin: auto;
    } */

    .con-1 h4 {
        font-size: 2.7rem;
        color: #404040;
    
    } 

    .con-1 p {
        font-size: 1.5rem;
        color: #404040;
        width:33vw;
    
    }
    #blue-text {
        color: #00659f;
    }

    .con-4-flex {
        display: flex;
        flex-direction:row;
        /* flex-wrap: wrap; */
        justify-content: space-around;
        align-items: center;
        /* height: 300px; */
        font-size: 1.7rem; 
    }

    .boxes {
        display: flex;
        flex-direction:row;
        /* flex-wrap: wrap; */
        justify-content: space-evenly;
        align-items: center;
        /* height: 300px; */
    }

    .bottom-box {
        height: 250px;
        width: 250px;
        margin-bottom: 20px;
        border-radius: 15px;
        padding: 20px;
        color: white;
        text-align: center;
    }

    .top-box {
        background-color: #fbfbfb;
        color: #17191c;
        box-shadow: 1px 2px 10px;
    }
    
    #span1 {
        color:#cf3b3d
    }

    .con-4-para {
        color: #cf3b3d;
    }

    .con-2 {
        background-color: #DCE6ED;
        padding-top: 20px;
        height: 400px;
    }

    .con-2 h4 {
        font-size: 34px;
        padding-bottom: 15px;
    }

        .container-3 {
        background-image: url(white-bg2.jpg);
    
    }

    .img-one {
        padding-right: 20px;
        height: 400px;
        width:400px;
    }

    #img-1 {
        width: 400px;
        height: 400px;
    }

    #img-2 {
        width: 400px;
        height: 300px;
    }

    .img-one img {
        object-fit: cover;
    }

    .con-3 {
        height: 800px;
        margin-bottom: 150px;
    }

    .img-two {
        padding-left: 20px;
        width: 400px;
        height: 300px;
    }

    .img-two img {
        object-fit: cover;
    }

    .text-one {
        padding-top: 100px;
        padding-left: 20px;
    
    }

    #par-1 {
        font-size: 30px;
        font-weight: 600;
    }

    #par-2, #par-3 {
        font-size: 20px;
    }

    .con-5 {
        background-image: url(mail-girl.svg);
        height:310px;
        width: 80%;
        background-size: contain;
        margin: auto;
        padding-top: 10px;
        padding-left: 300px;
        color: white;

    }

    body {
        overflow-x: hidden;
    }

    .con-6 {
        margin-top: 45px;
    }

    #inp  {
        width: 270px;
        height: 40px;
        font-size: 18px;
    }

    #btn-1 {
        height: 13.5%;
        min-width: 28%;
        border-radius: 5px;
        color: white;
        margin-bottom: 50px;
        border-style: none;
    }

    .con-5 p {
        padding-bottom: 50px;
        padding-top: 65px;
        text-align: center;
        font-size: 21px;
        color: #17191c;
    }


}  

/* @media screen and (min-width: 1200px){
    .con-5 {
        background-image: url(mail-girl.svg);
        height:310px;
        width: 80%;
        background-size: contain;
        margin: auto auto auto 270px;
        padding-top: 120px;
        padding-left: 350px;
        color: #17191c;
    }

    .con-5 p {
        padding-bottom: 50px;
        padding-top: 65px;
        text-align: center;
        font-size: 21px;
        color: #17191c;
    }
} */