body{
    background-color: white;
  }
  .password{ 
      display:  flex;
      flex-direction: column;
     align-items:flex-start;
     padding: 0px;gap: 24px;
     position: absolute;
     width: 492px;
     height: 348px;
     left: 120px;
     top: 204px;
  }
  .verify{
    height: 477px;
    width: 605px;
    left: 785px;
    top: 165px;
    border-radius: 0px;
    position: absolute;    
  }
  button{
    height: 52px;
    width: 492px;
    left: 0px;
    top: 251px;
    border-radius: 8px;
    padding: 16px, 171px, 16px, 171px;
     background: #00659F;
    color: white;
    font-family: sans-serif;
    font-size: larger;
    text-align: center;

    border-radius: 8px;

    
  }
  .sign{
    color: #CF3B3D;
    margin-top: 10px;
    
  }
  .email{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 4px;
    box-sizing: border-box;
      padding:  18px 12px 15px;
       position: absolute;
       right: 100%;
       top:30%;
       left:0%;
       width: 100%;
       gap: 8px; 
       border: 1px solid rgba(0, 0, 0, 0.5);
       bottom: 70%;
  }
  h4{
      margin-top: 5mm;
  }
  .send{
      color: #0B8700;
  }