<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>
        <link rel="stylesheet" href="/aboutus.css">
    </head>
    <body>
        <div class="container_1">
            <div class="mission">
                <h4> <span class="text">Our Mission</span></h4><br>
                <p class="p1">To give Schools the <br> power to better track <br> their debtors and <br> manage their finances</p>
            </div>
            <div class="mission_img">
               <img src="/mission_image.png" alt="Our Mission"> 
            </div>
        </div>
        <div class="container_2">
            <div class="story_img">
                <img src="/story_image.png" alt="Our Story">
            </div>
            <div class="story">
                <h4><span class="text2">Our Story</span></h4><br>
                <p class="p2">Notify is the first online “Debt Tracker for schools” app in West Africa. We first launched on the 1st of January 2022 .

                    For 6 Months, we covered only 10 States in Nigeria . Then in July of 2022, we expanded and now we are Nationwide.
                    
                    2 months on, we have continued to deliver excellent service to our 10,000 users and counting, helping them track their debtors with simplicity and transparency. 
                    
                    Notify is on a mission 'to give every school the power to better track their debtors and manage their finances', and we intend to be the best at this. </p>
            </div>

        </div>
    </body>
</html>
