<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authenthication</title>
    <link rel="stylesheet" href="v_style.css">
</head>
<body>
<div class="body">
    <div class="password">
    <header>
             <h1>Verification<br></h1>
            <p>Enter Verification code</p>
    </header>
      
    
            <img src="code.svg">
           <h4>If you did not receive code, <a href="send verification" class="send">Resend</a></h4>
           <button>
            Send authenthication
        </button> 

    
          <h4>back to<a href="sign in" class="sign">Sign in</a></h4>
    </div>


        <img src="forget2.svg" alt="verify" class="verify">
    </div>
</div>
</body>
</html>