<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset_password</title>
    <link rel="stylesheet" href="r_style.css">
</head>
<body>
<div class="body">
    <div class="password">
    <header>
             <h1>Reset password<br></h1>
            <p>New password</p>
    </header>
      
    
            <input type="password" name="password" placeholder="********" class="pass"><br>
            <header> 
                <h1></h1>   
                 <p>Confirm password</p><br>
            </header><br><br>
             <input type="password" name="password" placeholder="********" class="pass1"><br>
            
          <button>
              Reset password
          </button>
         <h4>back to<a href="sign in" class="sign">Sign in</a></h4>
    </div>


        <img src="reset.svg" alt="forget" class="forget">
    </div>
</div>
</body>
</html>