<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dir_style.css">
    <title>Debtor's Direcory</title>
</head>
<body>
    <div class="head">
       <a href="homepage"> <img src="Frame 64logo.png"></a>
       
       <div>
        <a href="notificationn"> <img src="Bell_pinbell.svg" ></a>
        <a href="settings"> <img src="Setting_linesettings.svg" ></a>
        <a href="profile"> <img src="User_box.svg" ></a>
       </div>
    </div>
    <div class="bar">
        <a href="dashboard"> <img src="Frame 148dashboard.svg" ></a>
        <a href="debtor"> <img src="debtors.svg" ></a>
        <a href="message"> <img src="message.svg" ></a>
        <a href="profile"> <img src="profile.svg" ></a>
    </div>
<div class="container">
    <div class="bar2">
        <div class="cl">
            <form action="">
                
            <input type="text" placeholder="Class"><button type="menu">#<i class="fa fa-search"></i></button>
           
        </form>
        </div>
        <div class="ser">
            <form>
            <input type="text" name="search">
            <button type="submit"> Search<i class="fa fa-search"></i></button>
            </form>   
        </div>
        <div class="add">
            <button> Add Debtors</button>
            <div class="content"> 
    </div>
         </div>
         <div class="table">
            <div class="names">
                <table>
                    <tr id="debtors detail">
                        <th colspan="1" class="pro" id="top">Name </th>
                        <th colspan="1">Descripton</th>
                        <th colspan="1">Status</th>
                        <th colspan="1"></th>
                    </tr>
                    <tr>
                        <th class="pro"><img src="face.svg">Ane cooper </th>
                        <th>Female, Primary 3</th>
                        <th>Ex-student, owing 2020</th>
                        <th><a href="view" class="view">View</a>
                    </tr>
                    <tr>
                         <th class="pro"> <img src="face.svg">Ane cooper </th>
                        <th>Female, Primary 3</th>
                        <th>Ex-student, owing 2020</th>
                        <th><a href="view" class="view">View</a>
                    </tr>
                    <tr>
                        <th class="pro"> <img src="face.svg">Ane cooper </th>
                        <th>Female, Primary 3</th>
                        <th>Ex-student, owing 2020</th>
                        <th><a href="view" class="view">View</a>
                    </tr>
                    <tr>
                        <th class="pro"> <img src="face.svg">Ane cooper </th>
                        <th>Female, Primary 3</th>
                        <th>Ex-student, owing 2020</th>
                        <th><a href="view" class="view">View</a>
                    </tr>
                     <tr>
                        <th class="pro"> <img src="face.svg">Ane cooper </th>
                        <th>Female, Primary 3</th>
                        <th>Ex-student, owing 2020</th>
                        <th><a href="view" class="view">View</a>
                    </tr>
                    <tr>
                        <th class="pro"> <img src="face.svg">Ane cooper </th>
                        <th>Female, Primary 3</th>
                        <th>Ex-student, owing 2020</th>
                        <th><a href="view" class="view">View</a>
                    </tr>
                </table>
         </div>
        </div>
    </div>
</div>
</body>
</html>