<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact us</title>
        <link rel="stylesheet" href="/contactus.css">
    </head>
    <body>
        <header>
            <nav>
                <ul class="list">
                    <li>Home</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>Services</li>
                </ul>
            </nav>
            <button class="btn">Log in</button>
        </header>
        <main>
            <div>
                <img class="image" src="/contact.png" alt="contact us">
            </div>
            <div class="container">
                <div class="form">
                    <form action="">
                        <label for="name">Full Name</label><br>
                        <input type="text" placeholder="John Doe" required><br>
                        <label for="">Phone Number</label><br>
                        <input type="number" name="" id="" placeholder="+234"><br>
                        <label for="email">Email</label><br>
                        <!-- email validation -->
                        <input type="email"  pattern='^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' name="" id="email" placeholder="ABD@gmail.com" required><br>
                    </form>
                    <div>
                        <textarea class="msg-area " name="" id="" placeholder="Type your message here"></textarea>
                    </div>
                    <button class="btn2">Summit</button>
                </div>
                <div class="contact_details">
                    <img class="location" src="/location.png" alt="location logo">
                    <h2>Address</h2>
                    <p>2972 wesheimer Rd. Santa Ana,</p>
                    <p>illinois 85486</p><br>
                    <img src="/phone logo.png" alt="Phone logo">
                    <h2>Phone</h2>
                    <p><span>(+234)</span> 901-000-0000</p>
                    <p><span>(+234)</span> 901-000-0000</p><br>
                    <img src="/gmail.png" alt="Email logo"><br>
                    <h2>Email</h2>
                    <a href="#">Mydeptor@gmail.com</a>
                </div>
            </div>
        </main>
    </body>
</html>
