<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="/profile.css">
</head>
<body>
    <div class="main_container">
        <div class="container1">
        <div>
            <img class="img" src="/Ellipse 66.png" alt="Profile Picture">
        </div>
        <div class="details"><h5 class="h5">Basic Details</h5>
            <pre>Full Name: Ane Cooper          Gender: Female       Date of Birth: 16th October, 2005
Phone Number: 08157321196      LGA: Lagos           <span class="parents">Parents:</span> Mr and Mrs. Cooper
Address: Number 2 Adeoye street, Lagos              Student ID: Lag45678922  
            </pre>
        </div>
        </div>
        <div class="container2">
            <div class="left-box">
                <h4 class="h4">About Ane</h4><br><br>
                <p class="about">Ane Cooper, a Class 3 Science student, has been attending this school for a little over two years now. Her academic records are on the average side, and she has so far, posed no threat to the school.
                    However, she has an outstanding school fees debt for the first term in the 2020 school session. Before now, she has been able to meet up with all payments concerning school fees and other fees for extra-curricular activities. After the First term of the 2020 session, Ane left the school without completing the payment of her school fees, and we have not been able to get in touch with her or her parents. 
                </p><br><br>
                <span class="student-details"><p>Email Address: anecooper@gmail.com</p><br>
                <p>Class at admission: Class 1</p><br>
                <p>Current Class: Class 3</p></span>

            </div>
            <div class="right-box">
                <h4 class="payment">Payment Tracks</h4>
                <table>
                    <tr class="table-head">
                        <td>Class</td>
                        <td>Term</td>
                        <td>Status</td>
                    </tr>
                    <tr>
                        <td>Class 3</td>
                        <td>First</td>
                        <td class="not-paid">Not paid</td>
                    </tr>
                    <tr>
                        <td>Class 2</td>
                        <td>Third</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Second</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>First</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td>Class 1</td>
                        <td>Third</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Second</td>
                        <td>Paid</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>First</td>
                        <td>Paid</td>
                    </tr>
                </table><br>
                <h1 class="debt">Debt Breakdown</h1>
                <table>
                    <tr>
                        <td>Class 3</td>
                        <td>Term fee</td>
                        <td>#20,000</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>School Bus</td>
                        <td>#5,000</td>
                    </tr><br>
                    <tr>
                        <td></td>
                        <td class="overall">Total</td>
                        <td class="overall">#25,000</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="container3">
            <button class="btn1">Delete Post</button>
            <button class="btn2">Edit Details</button>
        </div>
    </div>
</body>
</html>