<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="blog.css">
    <title>Blog</title>
  </head>
  <body>
    <header> 
     
    </header>

    <main>
      <div class="blog_posts">
        <div>
          <div class="blog_post">
            <div class="blog_header">
              <img src="Frame 77.png">
              <div>
                <h4> Bethel Lnagmore Academy </h4>
                <span class="post_time">37 mins ago</span>
              </div>
            </div>
            <div class="blog_img">
              <img src="Frame_83.png">
            </div>
            <div class="blog_text">
              <h4>What to know about the upcoming scholarship award from Bethel.</h4>
              <p>
                As a student this is what you’re expected to know about the upcoming students school award from bethel langmore academy. This scholarship is annual event which take place once in a year and it is mostly awarded to the overall best student in each department e:g science,art and commercial.
                And also include for all classes which will be taking place this month  from 11|05|2022 to 22|06|2022 to participate you are to... <span><a href="#">READ MORE</a></span>
              </p>
            </div>
          </div>
          <div class="blog_comment">
              <img src="user_prof.png">
              <input type="text" name="comment" placeholder="Add a comment">
              <img src="send_button.png">
          </div>
        </div>
        <div>
          <div class="blog_post">
            <div class="blog_header">
              <img src="Frame 77.png">
              <div>
                <h4> Bethel Lnagmore Academy </h4>
                <span class="post_time">37 mins ago</span>
              </div>
            </div>
            <div class="blog_img">
              <img src="Frame_83.png">
            </div>
            <div class="blog_text">
              <h4>What to know about the upcoming scholarship award from Bethel.</h4>
              <p>
                As a student this is what you’re expected to know about the upcoming students school award from bethel langmore academy. This scholarship is annual event which take place once in a year and it is mostly awarded to the overall best student in each department e:g science,art and commercial.
                And also include for all classes which will be taking place this month  from 11|05|2022 to 22|06|2022 to participate you are to... <span><a href="#">READ MORE</a></span>
              </p>
            </div>
          </div>
          <div class="blog_comment">
              <img src="user_prof.png">
              <input type="text" name="comment" placeholder="Add a comment">
              <img src="send_button.png">
          </div>
        </div>
        <div>
          <div class="blog_post">
            <div class="blog_header">
              <img src="Frame 77.png">
              <div>
                <h4> Bethel Lnagmore Academy </h4>
                <span class="post_time">37 mins ago</span>
              </div>
            </div>
            <div class="blog_img">
              <img src="Frame_83.png">
            </div>
            <div class="blog_text">
              <h4>What to know about the upcoming scholarship award from Bethel.</h4>
              <p>
                As a student this is what you’re expected to know about the upcoming students school award from bethel langmore academy. This scholarship is annual event which take place once in a year and it is mostly awarded to the overall best student in each department e:g science,art and commercial.
                And also include for all classes which will be taking place this month  from 11|05|2022 to 22|06|2022 to participate you are to... <span><a href="#">READ MORE</a></span>
              </p>
            </div>
          </div>
          <div class="blog_comment">
              <img src="user_prof.png">
              <input type="text" name="comment" placeholder="Add a comment">
              <img src="send_button.png">
          </div>
        </div>
        <div class="blog_page_nos">
          <span>Page</span>
          <span class="blog_page_no" id="blog_page_no1">1</span>
          <span class="blog_page_no">2</span>
          <span class="blog_page_no">3</span>
          <span class="blog_page_no">4</span>
          <span class="blog_page_no">5</span>
        </div>
      </div>
    </main>

    <script src="blog.js"></script>
  </body>
</html>
