{% extends 'partials/index.html' %}
{% load static %}
{% load crispy_forms_tags %}
  <body>
     
  
    <header></header>
    <main class="d-flex">
        {% block content %}
       <section class="sign-in-section w-100">
        <div class="container">
          <div class="row">
            <div class="col-md-4 offset-md-3">
              <div class="sign-in">
                <div class="header-text">
                <h3>Sign in</h3>
                <p>see your growth and get consulting support</p>
            </div>
            <!-- google button  -->
            <div class="google-button">
                <img src="{% static 'icons8-google-48.png' %}" alt="">
                <!-- icons8-google-48.png -->
                <a href="#">Sign in with google</a>
            </div>
            <div class="alternative">
              <p class="pseudo">or sign in with Email</p>
            </div>
            </div>

          </div>
  
          </div>
            <!-- email form -->
            <div class="container">
              <div class="row">
                <div class="col-md-4 offset-md-3">
                  <form method="post" class="Email-form">
                  {% csrf_token %}
                  {{ form | crispy }}
                  <button class="btn btn-primary">Log in</button>
                  </form>
                </div>
              </div>
            </div>
            
            
        
       </section> 
       <div class="container">
        <img src="{% static 'undraw_my_password_re_ydq7.svg' %}" alt="undraw" class="svg">
       </div>
    </main>
    {% endblock %}
 </body>
</html>