{% load static %}
{% comment %} <header>
      <div class="logo_box">
        <a href="#">
          <img src="{% static 'logo.png' %}" alt="Notify logo" />
        </a>
      </div>
      <div class="desktop_menu">
        <div class="mobile-nav_links">
          <a href="#">Home</a>
          <a href="#">Blog</a>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
        </div>
        <div class="mobile_nav_buttons">
          <a href="#" class="btn_navbar sign-in-btn">Sign In</a>
          <a href="#" class="btn_navbar sign-up-btn">Sign Up</a>
        </div>
      </div>
      <div class="sidebar_hamburger_menu" id="harmburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="mobile-menu">
        <div>
          <a href="#">Home</a>
          <a href="#">Blog</a>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
        </div>

        <div class="nav_buttons">
          <a href="#" class="btn_navbar sign-in-btn">Sign In</a>
          <a href="#" class="btn_navbar sign-up-btn">Sign Up</a>
        </div>
      </nav>
    </header> {% endcomment %}


    {% comment %} <header>
      <div class="logo">
        <div class="sidebar_hamburger_menu" id="harmburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a href="{% url 'home' %}">
          <img src="{% static 'logo.png' %}" alt="Notify Logo" />
        </a>
      </div>
      <div class="desktop_menu">
        <div class="mobile-nav_links">
          <a href="{% url 'home' %}">Home</a>
          <a href="#">Blog</a>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Login</a>
          <a href="#">Register</a>
          
        </div>
        <div class="mobile_nav_buttons">
            <!-- Added urls login and sign up -->
          <a href="{% url 'login' %}" class="btn_navbar sign-in-btn">Sign In</a>
          <a href="{% url 'register' %}" class="btn_navbar sign-up-btn">Sign Up</a>
        </div> 
      </div>
      <nav class="nav">
        <div class="nav-icons user-notifications" id="notifi-icon">
          <img src="{% static 'Bell_pin.png' %}" alt="" />
        </div>
        <div class="nav-icons user-settings">
          <img src="{% static 'Setting_line.png' %}" alt="" />
        </div>
        <div class="nav-icons user-avatar" id="user-profile">
          <img src="{% static 'User_box.png' %}" alt="" />
        </div>
      </nav>
      <div class="notifications" id="notifications">
        <h6>Notifications</h6>
        <button id="read">Read</button> <button id="unread">Unread</button>
        <div class="notifi-box">
          <table>
            <tr class="notifi-avatar">
              <td><img src="{% static 'Ellipse-86.png' %}" alt="" /></td>
              <td class="notifi-message">
                <p>Seth Cartel Junior and Senior Secondary School</p>
                <span class="report"></span>
                <span class="time">2 days ago</span>
              </td>
            </tr>
            <tr class="notifi-avatar">
              <td><img src="{% static 'Ellipse-86.png' %}" alt="" /></td>
              <td class="notifi-message">
                <p>Seth Cartel Junior and Senior Secondary School</p>
                <span class="report"></span>
                <span class="time">2 days ago</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <!-- Navbar.html code -->

      <!-- <div class="logo_box">
            <a href="#">
                <img src="{% static 'logo.png'%}" alt="Notify logo">
            </a>  
        </div> -->
      <!-- <div class="desktop_menu">
            <div class="mobile-nav_links">
                <a href="#">Home</a>
                <a href="#">Blog</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
            </div>
            <div class="mobile_nav_buttons">
                <a href="#" class="btn_navbar sign-in-btn">Sign In</a>
                <a href="#" class="btn_navbar sign-up-btn">Sign Up</a>
            </div>
        </div> -->
      <div class="sidebar_hamburger_menu" id="harmburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="mobile-menu">
        <div>
          <a href="#">Home</a>
          <a href="#">Blog</a>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
        </div>

        <div class="nav_buttons">
          <a href="#" class="btn_navbar sign-in-btn">Sign In</a>
          <a href="#" class="btn_navbar sign-up-btn">Sign Up</a>
        </div>
      </nav>
    </header> {% endcomment %}
    <header>
      <div class="logo_box">
          <a href="#">
              <img src="{% static 'logo.png' %}" alt="Notify logo">
          </a>  
      </div>
      <div class="desktop_menu">
          <div class="desktop_nav_links">
              <a href="#">Home</a>
              <a href="#">Blog</a>
              <a href="#">About Us</a>
              <a href="#">Contact Us</a>
          </div>
          <div class="desktop_nav_buttons">
              <a href="{% url 'login' %}" class="btn_navbar sign-in-btn">Sign In</a>
              <a href="{% url 'register' %}" class="btn_navbar sign-up-btn">Sign Up</a>
          </div>
      </div>
      <div class="sidebar_hamburger_menu" id="harmburger">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <nav class="mobile-menu" id="mobile-menu">
          <div>
              <a href="#">Home</a>
              <a href="#">Blog</a>
              <a href="#">About Us</a>
              <a href="#">Contact Us</a>
          </div>
              

              <div class="nav_buttons">
                  <a href="#" class="btn_navbar sign-in-btn">Sign In</a>
                  <a href="#" class="btn_navbar sign-up-btn">Sign Up</a>
              </div>
      </nav>        
  </header>
    <header>
      <div class="logo">
        <div class="sidebar_hamburger_menu" id="harmburger">
        </div>
        <a href="#">
          <img src="{% static 'logo.png'%}" alt="Notify Logo" />
        </a>
      </div>
      <nav class="nav">
        <div class="nav-icons user-notifications" id="notifi-icon">
          <img src="{% static 'Bell_pin.png' %}" alt="" />
        </div>
        <div class="nav-icons user-settings">
          <img src="{% static 'Setting_line.png' %}" alt="" />
        </div>
        <div class="nav-icons user-avatar" id="user-profile">
          <img src="{% static 'User_box.png' %}" alt="" />
          <div class="user-display" style="display:inline;">
            <span class="user-name-display">{{ user }}</span>
            <a href="{% url 'home' %}" class="Logout">Logout</a>
          </div>
        </div>
      </nav>
      <div class="notifications" id="notifications">
        <h6>Notifications</h6>
        <button id="read">Read</button> <button id="unread">Unread</button>
        <div class="notifi-box">
          <table>
            <tr class="notifi-avatar">
              <td><img src="{% static 'Ellipse-86.png' %}" alt="" /></td>
              <td class="notifi-message">
                <p>Seth Cartel Junior and Senior Secondary School</p>
                <span class="report"></span>
                <span class="time">2 days ago</span>
              </td>
            </tr>
            <tr class="notifi-avatar">
              <td><img src="{% static 'Ellipse-86.png' %}" alt="" /></td>
              <td class="notifi-message">
                <p>Seth Cartel Junior and Senior Secondary School</p>
                <span class="report"></span>
                <span class="time">2 days ago</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </header>