{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'navbar.css' %}">
</head>

    <header>
      <div class="logo">
        <div class="sidebar_hamburger_menu" id="harmburger">
        </div>
        <a href="#">
          <img src="{% static 'logo.png'%}" alt="Notify Logo" />
        </a>
      </div>
      <nav class="nav">
        <div class="nav-icons user-notifications" id="notifi-icon">
          <img src="{% static 'Bell_pin.png' %}" alt="" />
        </div>
        <div class="nav-icons user-settings">
          <img src="{% static 'Setting_line.png' %}" alt="" />
        </div>
        <div class="nav-icons user-avatar" id="user-profile">
          <img src="{% static 'User_box.png' %}" alt="" />
          <div class="user-display" style="display:inline;">
            <span class="user-name-display">{{ user }}</span>
            <a href="{% url 'home' %}" class="Logout">Logout</a>
          </div>
        </div>
      </nav>
      <div class="notifications" id="notifications">
        <h6>Notifications</h6>
        <button id="read">Read</button> <button id="unread">Unread</button>
        <div class="notifi-box">
          <table>
            <tr class="notifi-avatar">
              <td><img src="{% static 'Ellipse-86.png' %}" alt="" /></td>
              <td class="notifi-message">
                <p>Seth Cartel Junior and Senior Secondary School</p>
                <span class="report"></span>
                <span class="time">2 days ago</span>
              </td>
            </tr>
            <tr class="notifi-avatar">
              <td><img src="{% static 'Ellipse-86.png' %}" alt="" /></td>
              <td class="notifi-message">
                <p>Seth Cartel Junior and Senior Secondary School</p>
                <span class="report"></span>
                <span class="time">2 days ago</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </header>