<!--This is the about us page designed and coded by Team 33-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/about_us_individual.css">
    <title>Dashboard</title>
</head>
<!--Body containing all the codes displayed on the webpage-->
<body>
    <!--This is a div having a class="head" the head contains the notify logo and the Icon(bell icon, seting icon and the user-profile icon)-->
    <div class="head">
        <div class="notify-logo">
            <img src="img/Frame 64.png" alt="notify-logo">
        </div>
        <div class="other-logo">
            <img src="img/Bell_pin.png" alt="Notification">
            <img src="img/Setting_line.png" alt="Settings">
            <img src="img/User_box.png" alt="User-Profile">
        </div>
    </div>
    <!--This is a div holding the major content of the webpage from the side panel to the basic details and other information-->
        <div class="body-of-dashboard">
            
            <div class="side-panel">
                
                <!--This is the image for everythng on the side panel and image area wasn't really working so I am leaving it out <img src="img/Frame 148.png" alt="Side-Panel"> -->
                <a href="#"><img src="img/Frame 69.png" alt="Dashboard menu" id="dashboard-menu"></a>
                <a href="#"><img src="img/Frame 71.png" alt="Debtors menu" id="other-menu-aside-dashboard"></a>
                <a href="#"><img src="img/Frame 155.png" alt="Message Menu" id = "other-menu-aside-dashboard"></a>
                <a href="#"><img src="img/Frame 70.png" alt="Profile Menu" id="other-menu-aside-dashboard"></a>
            </div>
            <div class="basic-details">
                <div class="basic-details-upper">
                    <div class="basic-detail-profile-picture">
                        <img src="img/Ellipse 66.png" alt="User-Profile-Picture">
                    </div>
                    <div class="basic-detail-basic-details">
                        <div class="basic-detail-head">
                            <h1>Basic Details</h1>
                        </div>

                        <div class="basic-details-head-body">
                            <strong>
                                
                                <span class="a"><h3>Full Name: </h3>
                                    <h4>Ane Cooper</h4>
                                </span>
                                <span class="b"><h3>Phone Number: </h3>
                                    <h4>+2349057478099</h4>
                                </span>
                                <span class="c"><h3>Gender: </h3>
                                    <h4>Female</h4>
                                </span>
                                <span class="d"><h3>LGA: </h3>
                                    <h4>Abuja</h4>
                                </span>
                                <span class="e"><h3>Date of Birth: </h3>
                                    <h4>16th October 2003</h4>
                                </span>
                                <span class="f"><h3>Parents: </h3>
                                    <h4>Mr and Mrs. Cooper</h4>
                                </span>
                                <span class="g"><h3>Student ID: </h3>
                                    <h4>Lag45678922</h4>
                                </span>
                            </strong>
                        </div>
                    </div>   
                </div>
                <div class="basic-detail-body">
                    <div class="basic-detail-body-first">
                        <div class="basic-detail-body-head">
                            <h1>About Ane</h1>
                        </div>
                        <div class="basic-detail-body-body">
                            <p>Ane Cooper, a Class 3 Science student, has been attending 
                                this school for a little over two years now. Her academic records are on the average side, and she has so far, posed no threat to the school.
                                However, she has an outstanding school fees debt for the first term in the 2020 school session. 
                                Before now, she has been able to meet up with all payments concerning school fees and other fees 
                                for extra-curricular activities. 
                                After the First term of the 2020 session, Ane left the school without completing the payment of her school fees, and we have not been able to get in touch with her or her parents. 
                            </p><br>
                            <h3>Email Address: </h3><h4>anecooper@gmail.com</h4>
                            <h3>Class at Admission: </h3><h4>Class 1</h4>
                            <h3>Current Class: </h3><h4>Class 3</h4>
                        </div>
                    </div>
                    <div class="basic-detail-body-second">
                        <h2>Payment Tracks</h2>
                        <div class="table">
                            <table>
                                
                                    <tr>
                                        <th>Class</th>
                                        <th>Term</th>
                                        <th>Status</th>
                                    </tr>
                                    <tr>
                                        <td>Class 3</td>
                                        <td>First</td>
                                        <td>Not Paid</td>
                                    </tr>
                                    <tr>
                                        <td>Class 2</td>
                                        <td>Third <br> Second <br> First</td>
                                        <td>Paid<br>Paid<br>Paid</td>
                                    </tr>
                                    <tr>
                                        <td>Class 3</td>
                                        <td>Third <br> Second <br> First</td>
                                        <td>Paid<br>Paid<br>Paid</td>
                                    </tr>
                                    <tr>
                                        <th>Debt Breakdown</th>
                                    </tr>
                                    <tr>
                                        <td>Class 3</td>
                                        <td>Term Fee <br> School Bus</td>
                                        <td> #20,000 <br> #5,000</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Total</td>
                                        <td>#25,000</td>
                                    </tr>
                            </table>
                        </div>
                    
                        
                    </div>
                   
                </div>
                <div class="basic-detail-body-button">
                    <button class="delete">Delete-Post</button>
                    <button class="edit">Edit-Details</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>